<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buy.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/buy.js')}}"></script>
</head>
<body>

<div class="header">
  <h1>Order page</h1>
</div>
<div class="container">
    <form>
        <label for="linzen">Linzen</label>
        <input type="number" id="linzen" name="linzen" value="0">
        <label for="rijst">Rijst</label>
        <input type="number" id="rijst" name="rijst" value="0">
        <label for="mais">Mais</label>
        <input type="number" id="mais" name="mais" value="0">
        <label for="bestel" id="warning"></label>
        <input type="submit" id="bestel" name="bestel" value="Bestellen">
        <label for="bestel" id="connect">{{ connected }}</label>
    </form>
</div>

</body>
</html>